.block{ 
   /* padding: 50px; */
   /* padding-top: 50px;
   padding-bottom: 30px;
   padding-left: 20px;
   padding-right: 30px; */
      /* top right bottom left */
   /* padding: 10px 50px 20px 70px; */
   /* top/bottom left/right */
   /* padding: 50px 100px; */
   /* padding: 50px 70px 20px; */
   /*  */

   margin: 50px;
   margin: 10px 20px 30px 40px;
   margin: 10px 50px 30px;
   margin: 50px 100px;

   /* border-width: 5px 10px 50px 20px;
   border-bottom-width: 50px;
   border-top-width: 50px;
   border-right-width: 40px;
   border-left-width: 60px;
   border-color: black;
   border-style: solid; */
   /* border: 26px solid red; */




   background-color: red; 
}