

body {
    margin: 0px;
}


.uni-padding {
    padding: 0px 4%;
}

.row {
    --bs-gutter-x: 0rem;
}

/* header */

#topbar {
    border-bottom: 1px solid gray;
}

#topbar h1 {
    color: #000000;
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: left;
}

#navbar {
    text-align: right;
    padding-top: 30px;
}

#navbar ul li {
    display: inline-block;
    padding: 0px 10px;
    text-align: right;
}

#navbar ul li a {
    text-decoration: none;
    color: #000000;
}

#navbar ul li a:hover {
    font-weight: bold;
    border-bottom: 2px solid #000000;
    padding-bottom: 40px;
}

/* post section */

#post-section {
    text-align: center;
    padding: 30px 0px;
}

#post-section h1 {
    font-weight: bold;
    font-size: 35px;
    color: #000000;
}

#post-section p {
    color: #000000;
    font-size: 22px;
    padding: 10px 70px;
    text-align: center;
}

#poster-img img {
    width: 100%;
}

#line {
    height: 3px;
    color: black;
}

/* profile section */

#profile-img img {
    border-radius: 50%;
    width: 50px;
}

#profile-info p {
    font-size: 20px;
    margin-top: 0px;
}

#social-icon {
    text-align: right;
}

.fab {
    margin: 0px;
    border-radius: 3px;
    padding: 2px 25px;
    border: 1px solid gray;
    font-size: 30px;
}

#social-icon a {
    text-decoration: none;
    color: black;
}

/* summary section */

#summary p {
    padding: 20px 0px;
    font-size: 20px;
    font-weight: thick;
}

.ltrPadding {
    padding: 15px 10%;
}

#social-btn {
    text-align: center;
    padding: 15px;
}

.fa-facebook, .fa-twitter {
    padding: 0px 50px;
}

#profile-info p {
    font-size: 14px;
    text-align: center;
}

#line-img {
    position: relative;
    left: 600%;
    bottom: 65px;
}

#tags {
    padding: 10px 20px;
}

#design-line {
    height: 3px;
    margin-top: 50px;
}

/* topic section */

#topic-section h1 {
    padding-bottom: 50px;
}

#topic-section {
    text-align: center;
    padding: 0px 10%;
}

#topic-section img {
    width: 285px;
}

#topic-section p {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 50px;
}

/* form section */

#form-section {
    border: 1px solid black;
    border-top: 10px solid black;
    padding: 24px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

#form-section p {
    font-size: 22px;
    padding: 10px 25px;
}

#form-section form input {
    padding: 9px 200px 9px 9px;
}

#form-section button {
    padding: 10px 30px;
    background-color: black;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

/* link section */

#link-section {
    font-size: 28px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
}

#link-data h1 {
    padding: 40px 20px;
}

#link-data p {
    font-size: 17px;
}

#link-data ul li {
    display: inline-block;
    padding: 20px 20px;
}

#link-data ul li a {
    color: white;
}

/* responsice mobile */

@media only screen and (max-width: 500px) {
    #topbar h1 {
        text-align: center;
    }
    #navbar ul {
        text-align: center;
        padding: 0px;
    }
    #post-section {
        padding: 20px;
    }
    #post-section h1 {
        font-size: 22px;
    }
    #post-section p {
        font-size: 18px;
        padding: 10px;
    }
    #profile-img, #profile-info {
        text-align: center;
    }
    #social-icon {
        text-align: center;
    }
    #summary {
        padding: 20px 20px;
    }
    #form-container {
        text-align: center;
        padding: 0px 20px;
    }
    #form-section form input, #form-section form button {
        padding: 7px 28px;
        margin: 7px;
    }
    #form-section h2 {
        font-size: 25px;
    }
    #link-data {
        padding: 0px 20px;
    }
    #link-data ul {
        text-align: left;
    }
    #link-data ul li {
        padding: 0px 5px;
        font-size: 22px;
    }
    #social-btn {
        padding: 0px;
    }
    #tags {
        text-align: center;
    }
    #navbar ul li a:hover {
        padding-bottom: 18px;
    }
}