#div {
  width: 200px;
  height: 200px;
  background-color: brown;
  /* margin-top: 30px; */
  position: fixed;
  /* right: 0px;
  bottom:0px; */
}

.div {
  width: 200px;
  height: 200px;
  background-color: blue;
}


.imageWidth{
    width: 200px;
  height: 200px;
}

.customMargin{
    margin-top: 70px;
}
.customRowMargin{
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 400px) {
p {
    background-color: red;
}

.customRowMargin{
    margin-left: 0px;
    margin-right: 0px;
}
  

}

@media (min-width: 500px) and (max-width: 800px) {
    p {
        background-color: blue;
    }
}